.body {
    background-color: #f4f6f9;;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    padding: 20px;
}


/* --- Layout Container --- */
.account-container {
    display: flex;
    background: var(--color-foreground);
    border-radius: 12px;
    box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06);
}

/* --- Sidebar Styling --- */
.account-sidebar {
    width: 280px;
    background: var(--color-border-subtle);
    border-right: 1px solid var(--border-color);
    padding: 30px 20px;
    display: flex;
    flex-direction: column;
}

.account-content {
    padding: 40px;
    display: flex;
    flex-direction: column;
    gap: 40px;
    height: 30rem;
    overflow-y: auto;
}

.profile-header {
    text-align: center;
    margin-bottom: 30px;
}

.avatar-container {
    position: relative;
    width: 100px;
    height: 100px;
    margin: 0 auto 15px;
}

.profile-avatar {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    object-fit: cover;
    border: 3px solid #fff;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
}

.user-name {
    font-size: 1.15rem;
    font-weight: 600;
}

.sidebar-nav {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.nav-item {
    display: flex;
    align-items: center;
    gap: 12px;
    padding: 12px 15px;
    color: rgba(0, 0, 0, 0.5);
    text-decoration: none;
    border-radius: 8px;
    font-size: 0.95rem;
    font-weight: 500;
    transition: all 0.2s;
}

.nav-item:hover, .nav-item.active {
    color: var(--color-text);
}

.nav-item i {
    width: 20px;
    font-size: 1.1rem;
}

.nav-item.logout:hover {
    cursor: pointer;
    color: var( --color-warning);
}